
html,body { 
    margin: 0;
}
* {
font-family: Verdana,Geneva,sans-serif; 
}

.start-page {
    background-size: cover; 
    background-position: center; 
    display: flex;
    flex-direction: column;
}

/* header */

.header-div {
    display: flex;
    justify-content: space-around;
    margin: 0;
    background-color: #ECECEA;
}

.logo-div {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.image-logo {
    height: 75px;
}

.image-logo:hover {
    cursor: pointer;
}

.login-register {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
    width: 30%;
}

.login-div, .register-div {
    display: flex;
}

.login-icon, .register-icon {
    color: #558C89;
}

.login-button, .register-button {
    margin-left: 10px;
    border-radius: 10px;
    border-color: #558C89;
    background-color: #74AFAD;
}

.login-button:hover, .register-button:hover {
    background-color: #558C89;
    color: white;
    cursor: pointer;
}

/* navigation menu */
.nav-menu {
        border:1px solid;
        border-color: #558C89;
}
.nav-text {
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;    
    color: white;
    font-weight: bold;
    padding: 20px; 
    background-color: #74AFAD;
    margin: 0;
    position: relative;
    width: 100%;
}

.menu-span {
    display:flex;
    justify-content: space-between;
    width: 150px;   
    padding: 5px 0px;
    text-align: left;
    padding-left: 10px;
}

.menu-span:hover {
    text-decoration: underline;
    cursor: pointer;
}

nav {
  display: flex;
  text-align: center;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

 .pc-menu {
    padding-top: 20px;
} 

ul ul {
  opacity: 0;
  position: absolute;
  top: 100%;
  visibility: hidden;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

ul ul ul {
  top: 0%;
  left: 160%; 
}

ul ul li:hover > ul {
  top: 0%;
  left: 100%;
  opacity: 1;
  visibility: visible;
}
ul li:hover > ul {
  opacity: 1; 
  top: 100%;
  visibility: visible;
}

ul li {
  position: relative;
  font-size: 13px;
  background-color:#74AFAD;
  cursor: pointer;
}
ul li ul li{
        border:1px solid;
        border-color: #558C89;
}
/*ul li span.active {
    font-size: 13px;
    align-self: flex-end;
    color: #000066;
}*/
.title-span {

    font-size: 20px;
    padding-left: 10px;
    margin-right: 5px;
}

/* footer */

.footer-above {
    background-color: gray;
    color: white;  
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.footer-container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}  

/* Get to know us */

.footer-div {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: auto;
}

.know-span {
    font-size: 1.3em;
    margin: 5px 0;
}

.footer-span {
    margin: 3px 0;
    color: white;
}

.footer-span:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.footer-a {
    color: white;
    text-decoration: none;
}

.footer-a:hover {
    color: white;
    text-decoration: underline;
}

.around-span {
    margin: 3px 0;
}

.map:hover {
    text-decoration: underline;
}

.map:hover > .map-icon{
    color: black;
    transition: .3s ease-in;
}

.facebook-icon {
    border: 1px solid white;
    border-radius: 50%;
    width: 15px;
    text-decoration: none;
    color: white;
    text-align: center;
    cursor: pointer;
}

.facebook-icon:hover {
    color: white;
    background-color: #4867AA;
    border-color: #4867AA;
    transition: .2s ease-in;
}

.twitter-icon {
    border: 1px solid white;
    border-radius:50%;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.twitter-icon:hover {
    color: #1DA1F2;
    background-color: white;
    transition: .2s ease-in;
}

/* Client support */

.support-span {
    font-size: 1.3em;
    margin: 5px 0;
}

/* Let us help you */

.let-us-span {
    font-size: 1.3em;
    margin: 5px 0;
}

/* Copyright footer */

.copyright {
    text-align: center;
    background-color: black;
    color:white;
    width: 100%;
    margin:0;
    padding: 15px 0 10px;
}
