.contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}
.contact h1 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
	font-size: 13px;
}
.contact textarea {
	height:100px;
	width:300px;
  	resize:none;
}
.contact input.btn {
	cursor:pointer;
	border:none;
	background:#337ab7;
	color:#FFF;
	margin: 5px 5px;
	padding:10px;
	font-size:15px;
	border: 1px solid;
	border-radius: 5px;
	border-color: #2e6da4;
	width:80px;
}
.contact input[placeholder] {
	padding:5px;
}
.contact textarea[placeholder] {
	padding:5px;
}
.contact input[type="button"]:hover {
	background-color: #09C;
	transition: background-color ease-in-out;

}
.margin {
	margin: 5px 5px;
}
.contact input {
	width:200px;
}
.container {
	display: flex;  
    flex-direction: column;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}