.footer-above {
    background-color: gray;
    color: white;  
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.footer-container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}  

/* Get to know us */

.footer-div {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: auto;
}

.know-span {
    font-size: 1.3em;
    margin: 5px 0;
}

.footer-span {
    margin: 3px 0;
}

.footer-a {
    color: white;
    text-decoration: none;
}

.footer-a:hover {
    text-decoration: underline;
}

.map:hover {
    text-decoration: underline;
}

.map:hover > .map-icon{
    color: black;
    transition: .3s ease-in;
}

.facebook-icon {
    border: 1px solid white;
    border-radius: 50%;
    width: 15px;
    text-decoration: none;
    color: white;
    text-align: center;
    cursor: pointer;
}

.facebook-icon:hover {
    color: white;
    background-color: #4867AA;
    border-color: #4867AA;
    transition: .2s ease-in;
}

.twitter-icon {
    border: 1px solid white;
    border-radius:50%;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.twitter-icon:hover {
    color: #1DA1F2;
    background-color: white;
    transition: .2s ease-in;
}

/* Client support */

.support-span {
    font-size: 1.3em;
    margin: 5px 0;
}

/* Let us help you */

.let-us-span {
    font-size: 1.3em;
    margin: 5px 0;
}

/* Copyright footer */

.copyright {
    text-align: center;
    background-color: black;
    color:white;
    width: 100%;
    margin:0;
    padding: 15px 0 10px;
}