.credentials-login {
    display: flex;  
    flex-direction: column;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.log-div {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: white;
    border: 2px solid #558C89;
    padding: 20px 30px;
    padding-bottom: 35px;
    justify-content: center;  
}
.log-label-input {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
}
.log-label-input input {
    height: 25px;
    font-size: 15px;
    margin-bottom: 5px;
    padding: 4px 8px;
}
.log-label-input label {
    margin-bottom: 5px;
    font-size: 20px;
}
.log-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
}

.validate-login {
    width: 35%;
    height: 30px;
    font-weight: bold;
    margin-top: 5px;
    cursor: pointer;
    color: white;
    border-color: #2e6da4;
    background-color: #337ab7;
    align-self: center;
}
.forgot {
    margin-left: 20px;
    font-size: 15px;
}

a {
    text-decoration: none;
}

a:hover {
    color: blue;
}

.remember {
    display: flex;
    margin: 10px 0px;
}

.remember-checkbox {
    width: 25px;
}

.remember-span {
    color: black;
    font-size: 15px;
}

h3 {
    font-weight: 300;
    color: white;
    padding: 8px 16px;     
    opacity: 1;
}