<form class="credentials-login">
			<div class="log-div">
				<div class="log-text">
					<span> User name </span>
					<span> Password </span>
				</div>
				<div class="log-input">
					<input type="text" placeholder="User name">
					<input type="password" placeholder="Password">
				</div>
			</div>
			<div class="remember">
				<input type="checkbox" class="remember-checkbox">
				<span class="remember-span"> Remember me </span>
				</div>
			<div class="log-btn">
				<input type="button" class="validate-login" value="Login">
				<span class="forgot"> Forgot <a href="#">password </a> ? </span>
			</div>
		</form>