.nav-text {
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;   
    color: white;
    font-weight: bold;
    padding: 20px; 
    background-color: black;
    margin: 0;
    position: relative;
    width: 100%;
}

.menu-span {
    width: 150px;   
    padding: 5px 0px;
    text-align: left;
    padding-left: 10px;
}

.menu-span:hover {
    text-decoration: underline;
    cursor: pointer;
}

nav {
  display: flex;
  margin: auto;
  text-align: center;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul ul {
  opacity: 0;
  position: absolute;
  top: 160%; 
  visibility: hidden;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

ul ul ul {
  top: 0%;
  left: 160%; 
}

ul ul li:hover > ul {
  top: 0%;
  left: 100%;
  opacity: 1;
  visibility: visible;
}

ul li:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

ul li {
  position: relative;
  padding: 20px;
}

ul li {
  background-color: black;
  cursor: pointer;
}

.title-span {
    padding-left: 10px;
    margin-right: 5px;
}