<nav class="nav-menu">
			<ul class="nav-text">
				<li class="li-title" id="pc"><span class="title-span">PC </span> <i class="fa fa-caret-down" aria-hidden="true"></i>
					<ul class="dropdown-menu pc-menu">
						<li class="menu-span" id="brand"> Brand 
							<ul class="sub-menu brand">
								<li class="menu-span"> Asus </li>
								<li class="menu-span"> Acer </li>
								<li class="menu-span"> HP </li>
								<li class="menu-span"> Dell </li>
								<li class="menu-span"> MSI </li>
								<li class="menu-span"> Apple </li>
							</ul>
						</li>
						<li class="menu-span"> Price 
							<ul class="sub-menu">
								<li class="menu-span"> 0 - 100$ </li>
								<li class="menu-span"> 100$ -300$ </li>
								<li class="menu-span"> 300$ - 600$ </li>
								<li class="menu-span"> 600$ - 1000$ </li>
								<li class="menu-span"> 1000$ - 2000$ </li>
								<li class="menu-span"> 2000$+ </li>
							</ul>
						</li>
						<li class="menu-span"> Processor 
							<ul class="sub-menu">
								<li class="menu-span"> Intel Atom </li>
								<li class="menu-span"> Intel Celeron </li>
								<li class="menu-span"> Intel Pentium </li>
								<li class="menu-span"> Intel Core </li>
								<li class="menu-span"> Intel Xeon </li>
								<li class="menu-span"> AMD FX-Series </li>
								<li class="menu-span"> AMD A-Series </li>
								<li class="menu-span"> AMD E-Series </li>
								<li class="menu-span"> AMD Phenom </li>
								<li class="menu-span"> AMD Turion </li>
							</ul>
						</li>
						<li class="menu-span"> RAM 
							<ul class="sub-menu">
								<li class="menu-span"> 2 GB </li>
								<li class="menu-span"> 3 GB </li>
								<li class="menu-span"> 4 GB </li>
								<li class="menu-span"> 8 GB </li>
								<li class="menu-span"> 12 GB </li>
								<li class="menu-span"> 16 GB </li>
								<li class="menu-span"> 32 GB </li>
								<li class="menu-span"> 64 GB and above</span>
							</ul>
						</li>
						<li class="menu-span"> Operating System 
							<ul class="sub-menu">
								<li class="menu-span"> MAC OS X </li>
								<li class="menu-span"> Chrome OS </li>
								<li class="menu-span"> Windows 10 </li>
								<li class="menu-span"> Windows 8 </li>
								<li class="menu-span"> Windows 7 </li>
								<li class="menu-span"> Windows XP </li>
							</ul>
						</li>
						<li class="menu-span"> Hard Disk Size 
							<ul class="sub-menu">
								<li class="menu-span"> 100 GB and under </li>
								<li class="menu-span"> 100 - 320 GB </li>
								<li class="menu-span"> 321 - 500 GB </li>
								<li class="menu-span"> 501 - 999 GB </li>
								<li class="menu-span"> 1 TB </li>
								<li class="menu-span"> 2 TB and above </li>
							</ul>
						</li>
					</ul>
				</li>

				<li class="li-title" id="pc"><span class="title-span">Laptop </span> <i class="fa fa-caret-down" aria-hidden="true"></i>
					<ul class="dropdown-menu pc-menu">
						<li class="menu-span dropRight" id="brand"> Brand 
							<ul class="sub-menu brand">
								<li class="menu-span"> Asus </li>
								<li class="menu-span"> Acer </li>
								<li class="menu-span"> HP </li>
								<li class="menu-span"> Dell </li>
								<li class="menu-span"> MSI </li>
								<li class="menu-span"> Apple </li>
							</ul>
						</li>
						<li class="menu-span"> Price 
							<ul class="sub-menu">
								<li class="menu-span"> 0 - 100$ </li>
								<li class="menu-span"> 100$ -300$ </li>
								<li class="menu-span"> 300$ - 600$ </li>
								<li class="menu-span"> 600$ - 1000$ </li>
								<li class="menu-span"> 1000$ - 2000$ </li>
								<li class="menu-span"> 2000$+ </li>
							</ul>
						</li>
						<li class="menu-span"> Processor 
							<ul class="sub-menu">
								<li class="menu-span"> Intel Atom </li>
								<li class="menu-span"> Intel Celeron </li>
								<li class="menu-span"> Intel Pentium </li>
								<li class="menu-span"> Intel Core </li>
								<li class="menu-span"> Intel Xeon </li>
								<li class="menu-span"> AMD FX-Series </li>
								<li class="menu-span"> AMD A-Series </li>
								<li class="menu-span"> AMD E-Series </li>
								<li class="menu-span"> AMD Phenom </li>
								<li class="menu-span"> AMD Turion </li>
							</ul>
						</li>
						<li class="menu-span"> RAM 
							<ul class="sub-menu">
								<li class="menu-span"> 2 GB </li>
								<li class="menu-span"> 3 GB </li>
								<li class="menu-span"> 4 GB </li>
								<li class="menu-span"> 8 GB </li>
								<li class="menu-span"> 12 GB </li>
								<li class="menu-span"> 16 GB </li>
								<li class="menu-span"> 32 GB </li>
								<li class="menu-span"> 64 GB and above</span>
							</ul>
						</li>
						<li class="menu-span"> Operating System 
							<ul class="sub-menu">
								<li class="menu-span"> MAC OS X </li>
								<li class="menu-span"> Chrome OS </li>
								<li class="menu-span"> Windows 10 </li>
								<li class="menu-span"> Windows 8 </li>
								<li class="menu-span"> Windows 7 </li>
								<li class="menu-span"> Windows XP </li>
							</ul>
						</li>
						<li class="menu-span"> Hard Disk Size 
							<ul class="sub-menu">
								<li class="menu-span"> 100 GB and under </li>
								<li class="menu-span"> 100 - 320 GB </li>
								<li class="menu-span"> 321 - 500 GB </li>
								<li class="menu-span"> 501 - 999 GB </li>
								<li class="menu-span"> 1 TB </li>
								<li class="menu-span"> 2 TB and above </li>
							</ul>
						</li>
					</ul>
				</li>

				<li class="li-title" id="pc"><span class="title-span">Phone</span> <i class="fa fa-caret-down" aria-hidden="true"></i>
					<ul class="dropdown-menu pc-menu">
						<li class="menu-span dropRight" id="brand"> Brand 
							<ul class="sub-menu brand">
								<li class="menu-span"> Apple </li>
								<li class="menu-span"> Samsung </li>
								<li class="menu-span"> Huawei </li>
								<li class="menu-span"> HTC </li>
								<li class="menu-span"> Nokia </li>
								<li class="menu-span"> Asus </li>
							</ul>
						</li>
						<li class="menu-span"> Price 
							<ul class="sub-menu">
								<li class="menu-span"> Under 50$ </li>
								<li class="menu-span"> 50$ -100$ </li>
								<li class="menu-span"> 100$ - 200$ </li>
								<li class="menu-span"> 200$ - 400$ </li>
								<li class="menu-span"> 400$ - 600$ </li>
								<li class="menu-span"> 600$+ </li>
							</ul>
						</li>
						<li class="menu-span"> Diplay Size 
							<ul class="sub-menu">
								<li class="menu-span"> 3.9 Inches and Under </li>
								<li class="menu-span"> 4.0 to 4.4 Inches </li>
								<li class="menu-span"> 4.5 to 4.9 Inches </li>
								<li class="menu-span"> 5.0 to 5.4 Inches </li>
								<li class="menu-span"> 5.5 Inches and Over </li>
							</ul>
						</li>
						<li class="menu-span"> RAM 
							<ul class="sub-menu">
								<li class="menu-span"> Under 1 GB </li>
								<li class="menu-span"> 1 GB </li>
								<li class="menu-span"> 2 GB </li>
								<li class="menu-span"> 3 GB </li>
								<li class="menu-span"> 4 GB </li>
								<li class="menu-span"> 6 GB </li>
								<li class="menu-span"> 8 GB </li>
							</ul>
						</li>
						<li class="menu-span"> Operating System 
							<ul class="sub-menu">
								<li class="menu-span"> iOS </li>
								<li class="menu-span"> Android </li>
								<li class="menu-span"> Windows Phone </li>
								<li class="menu-span"> Blackberry </li>
							</ul>
						</li>
						<li class="menu-span"> Internal Memory 
							<ul class="sub-menu">
								<li class="menu-span"> 4 GB </li>
								<li class="menu-span"> 8 GB </li>
								<li class="menu-span"> 16 GB </li>
								<li class="menu-span"> 32 GB </li>
								<li class="menu-span"> 64 GB </li>								
							</ul>
						</li>
					</ul>
				</li>

				<li id="cart"> <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart
				</li>
			</ul>
			
		</nav>