.credentials-register {
    display: flex;  
    flex-direction: column;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: rgba(0,0,0,0.4);

}
.credentials-register .cred-div {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: white;
    border: 2px solid #558C89;
    padding: 20px 30px;
    padding-bottom: 35px;
    justify-content: center;  
}
.reg-label-input {
    display: flex;
    flex-direction: column;
}
.reg-label-input label {
    margin-bottom: 5px;
    font-size: 20px;
}
.reg-label-input input {
    font-size: 15px;
    padding: 4px 8px;
    margin-bottom: 15px;
}
.reg-label-input .register-date {
}
.reg-buttons {
    margin-top: 20px;
}

.validate-register {
    width: 50%;
    height: 30px;
    color: white;
    cursor: pointer;
    border-color: #4cae4c;
    background-color: #5cb85c;
}
.validate-register:hover {
    background-color: #46a049;
}

h3 {
    font-weight: 300;
    color: white;
    padding: 8px 16px;   
    opacity: 1;
}

.cancel-register {
    width: 50%;
    height: 30px;
    color: white;
    cursor: pointer;
    border-color: #d9534f;
    background-color: #d43f3a;    
}
.cancel-register:hover {
    background-color: #c9302c;
    border-color: #ac2925;
}