<form class="credentials-register">
			<div class="cred-div">
				<div class="cred-text">
					<span> First Name </span>
					<span> Last Name </span>
					<span> Date of birth </span>
					<span> Address </span>
					<span> E-mail </span>
					<span> User name </span>
					<span> Password </span>
				</div>
				<div class="cred-input">
					<input type="text" placeholder="First Name">
					<input type="text" placeholder="Last Name">
					<input type="date">
					<input type="text" placeholder="Address">
					<input type="text" placeholder="Email">
					<input type="text" placeholder="User name">
					<input type="password" placeholder="Password">
				</div>
			</div>
			<div class="reg-btn">
				<input type="button" class="validate-register" value="Register">
			</div>
		</form>