.support-div {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 20px auto;
}

.support-hr {
    width: 100%;
    border: 2px solid black;
    margin-bottom: 10px;
}

.support-title {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
}

.support-text {
    font-size: 15px;
    padding-bottom: 10px;
}

.support-subtitle {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.support-spantitle {
    font-size: 17px;
    font-weight: bold;
}