.start-page .news {
	display: flex;
	flex-direction: column;
	padding:0px 18px;
/*	min-height: 500px;*/
	background-color: #fafaFf;
	margin: 30px 105px;
	border-radius: 20px;
	border: solid 1px;
}
.start-page .news h2 {
	color: #558C89;
	font-family: Arial,sans-serif;
}	
.start-page .news .title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #558C89;
}
.start-page .news .news-title {
	font-size: 22px;
	color: #74AFAD;
}
.start-page .news .date {
	display: flex;
	align-self: center;
	font-size: 10px; 
	color: #ff9400;
}
.start-page .news .content {
	display: flex;
	flex-direction: column;
	font-family: Arial,sans-serif;
}
.start-page .news .content .name {
	margin-top:5px;
	font-size: 12px;
	color: #ff9400;
	align-self: flex-end;
}
.start-page .news p {
	margin:10px auto 0px 15px;
	font-size: 15px;
}
hr {
	opacity: 0.4;
}
.start-page .news .newPost {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}
.start-page .news form label {
	padding:5px 0px;
}
.start-page .news form .button {
	align-self: flex-end;
	width: 50px;
	height: 30px;
	margin-top: 5px;
	border-radius: 10px;
	background-color: #90EE90;
	border-color: #33FF00;
}
.start-page .news form {

}
.start-page .news form .title {
	width: 20%;
}