.container {
    display: flex;  
    flex-direction: column;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.head {
    margin:5px 0 10px;
    display:block;
    font-size: 20px;
    padding: 10px;
    color: black;
}
.width {
    padding: 20px;
}
.help-a {
    background:#F9F9F9;
    padding:25px;
    margin:50px 0;
}
.margin {
    margin: 7px 7px;
}