.header-div {
    display: flex;
    justify-content: space-around;
    margin: 0;
    background-color: blue;
}

.logo-div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.image-logo {
    height: 75px;
}

.image-logo:hover {
    cursor: pointer;
}

.login-register {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
    width: 50%;
}

.login-div {
    display: flex;
    align-items: center;
}

.login-div:hover > .welcome-user {
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.welcome-user {
    color: black;
    font-size: 1em;
}

.login-icon {
    color: white;
    margin-right: 10px;
}
