* {
	margin:0;
	padding: 0;
}
.image-container{	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 25px;
    transition: width 2s;
}
.slideshow-container {
	display: flex;
	height: initial;
	min-width: 500px;
	align-items: center;
	border-radius: 20px;
	border: solid 1px;
	background-color: #F5F5F5;
}
.image-container .image {
	width: 100%;
	opacity: 0.75;
}
.image-container .image:hover {
	opacity: 1;
}

.image-container text {
	padding: 0 20px;
	font-size: 20px;
	color: #990000;
}
.image-container .description {
	height: 52px;
	overflow-y: auto;
	margin: 5px 0;
	color: black;
	font-size: 15px;
}
.arrow {
	position: absolute;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
}
.arrow.right {
	left:100%;
}
.arrow.left img {
	background-color: white;
	border-radius: 20px;
	width: 45px;
	height: 45px;
}
.arrow.right img {
	background-color: white;
	border-radius: 20px;
	width: 45px;
	height: 45px;
	left:50%;
}
.slideshow {
	min-width: 20%;
	position: relative;
	margin: 30px 105px;
}